<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles.css" />
		<title>Transfer to Another Account</title>
	</head>
	<body>
		<div class="mainwrapper">
			<a th:href="@{/account}" class="logo"></a>
			<ul class="menu">
				<li><a th:href="@{/account}">My Accounts</a>
				</li>
				<li class="dropdown">
					<a>Account Services</a>
					<div class="dropdown-content">
						<a th:href="@{/new-account}">Open New Account</a>
						<a th:href="@{/new-currency}">Add Currency Wallet</a>
					</div>
				</li>
				<li class="dropdown">
					<a>Funds Transfer</a>
					<div class="dropdown-content">
						<a th:href="@{/transfer-self}">Transfer To My Account</a>
						<a th:href="@{/transfer}">Transfer to Another Account</a>
					</div>
				</li>
				<li class="logout"><a th:href="@{/logout}">Logout</a></li>
			</ul>
			<div class="content">
				<h2>Transfer to Another Account</h2>
				<div>
					<span th:if="${message}" th:text="${message}" class="topmessage"></span>
					<span th:if="${error}" th:text="${error}" class="topmessage toperror"></span>
				</div>
				<div class="transfer-other">
					<form th:action="@{/transfer}" method="post" class="fund-transfer-form">
						<h3>To</h3>
						<div class="form-row"><label for="recipientAccount">Recipient Account</label>
							<input type="text" name="recipientAccount" id="recipientAccount">
						</div>
						<div class="submit-form">
							<input type="submit" value="Search Account" class="button">
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>