<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
	<Appenders>
		<Console name="StdOut" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</Console>
		<File name="FileAppender" filename="currencyConverterLog.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="StdOut" />
			<AppenderRef ref="FileAppender" />
		</Root>	
	</Loggers>
</Configuration>
